<div class="col-md-8 col-md-offset-2" align="center">
      <ul role="navigation" id="questionfilter">
        <li role="menuitem" class="<%= 'active' if params[:recent] == 'true'%>"> <%= link_to "Most Recent", :recent => true %> </li>
        <li role="menuitem" class="<%= 'active' if params[:popular] == 'true'%>"> <%= link_to "Most Popular", :popular => true  %></li>
        <li role="menuitem" class="<%= 'active' if params[:unanswered] == 'true'%>"> <%= link_to "Unanswered", :unanswered => true %></li>
      </ul>
    </div>