<div class="col-md-10 col-md-offset-1">
  <div class="row">


    <div class="panel panel-default">
      <div class="panel-body" id="panel-question">
        <div class="row">
          

          <div class="col-md-12" id="questionshow">
          <h3><%= @question.title %></h3>
        
          <p><%= @question.description %></p>
          </div>

          
        </div>
        <hr>

        <div class="row">
          <div class="col-md-10">
          <ul class="list-inline">
            <% if @question.created_at == @question.updated_at %>
              <li><h5><small>Asked <%= @question.created_at.to_formatted_s(:long) %></small></h5></li>
              <%else%>
              <li><h5><small>Asked <%= @question.created_at.to_formatted_s(:long) %></small></h5>
              <h5><small>Last updated <%= @question.updated_at.to_formatted_s(:long) %></small></h5></li>
            <%end%> 
            
              <li> <%= image_tag "missingsmall.png", class: "smallprofileimage"%>
                <% if @question.anonymous == true %>
                <span class="firstlastname"><%="Anonymous"%></span></li>
                <%else%>
                <span class="firstlastname"><%=@question.user.name %>, <span class="companyinfo">  <%= @question.user.company %></span></span></li>
                <%end%>
              <li><span class="category"><%= link_to "#{@question.category.name}", polymorphic_path([@question.category.linkname])  %></span></li>
            </ul>
          </div>

          <div class="col-md-1">
            
            
              
              
            
          
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>

<div id="collapsebutton">
  <a href="#scrolldown" class="btn btn-info btn-sm" role="button">
    <%= pluralize(@question.answers_count, "Answer")%><br>
    Scroll down to view

  </a>

  <button type="button" class="btn btn-default btn-sm" data-toggle="collapse" data-target="#questioncomments">
    <%= pluralize(@question.questioncomments_count, "comment") %> to this question <br>
    Click to view or comment
  </button>

</div>

<br>
<div id="questioncomments" class="collapse out">

  <div class="row">
    <div class="col-md-6 col-md-offset-5">

    <% if user_signed_in? %>

    <%= render 'questioncomments/questioncomments'%>

    <%else%>
    
    <%= link_to "Login to post a comment", new_user_session_path, class: "btn btn-info" %>

    <%end%>

    </div>

  </div>


  <div class="row">
    <div class="col-md-4 col-md-offset-7">
    <%= render 'questioncomments/form' %>

    </div>
  </div>
</div>
<hr>
    <% @question.answers.each do |answer| %>
<div class="row">
  <div class="col-md-10 col-md-offset-1">


    <div class="panel panel-default">
      <div class="panel-body">
        
        <div class="col-md-2">
          <ul id="votecolumn">
            <li><%=link_to image_tag("icon_upvote.png", :border => 0, width: 18), like_question_answer_path(@question, answer), method: :put, :data => {:toggle=>"tooltip"}, :title => "Click to upvote this answer"%><span id="votenumbertop">&nbsp<%= answer.get_upvotes.size%></span></li>
            <br>
            <li><%= link_to image_tag("icon_downvote.png", :border => 0, width: 18), dislike_question_answer_path(@question, answer), method: :put, :data => {:toggle=>"tooltip"}, :title => "Click to downvote this answer"%><span id="votenumberbottom">&nbsp<%= answer.get_downvotes.size%></span></li>
          </ul>
        </div>
        
        <div class="col-md-8" id="answerbody">
          <br>
          <p><%= answer.body %></p>
            
        </div>

        <div class="col-md-1">
          <button class="btn btn-default btn-sm" type="button" data-toggle="collapse" data-target=#<%=answer.id%> aria-expanded="false" aria-controls="collapseExample" id="answercommentbutton">
            <% if answer.answercomments_count == 0 %>
              <small>Add a comment</small>
            <%else%>
              <small>View <%= pluralize(answer.answercomments_count, "comment")%><br> to this answer</small>
              <%end%>
            </button>
        </div>

        <div class="row">
          <div class="col-md-10 col-md-offset-2">
              <ul class="list-inline" id="answerinlinelist">
                <li><h5><small>Answered <%= answer.created_at.to_formatted_s(:long) %></small></h5></li>
                <li><span class="upvotesinfo" date-toggle="tooltip" title="The number of upvotes this answer has received">Upvotes: <%= answer.get_upvotes.size%></span></li>
                
                <li> <%= image_tag "missingsmall.png", class: "smallprofileimage"%>
                
                <% if answer.user == current_user %>
                  <span class="firstlastname">
                  <%= link_to "#{answer.user.name},", profiles_myprofile_path %>&nbsp <span class="companyinfo">  
                  <%= answer.user.company %></span></span></li>  

                <%else%>
                  <span class="firstlastname">
                  <%= link_to "#{answer.user.name},", profiles_lawyerprofile_path(user: answer.user.id) %>&nbsp <span class="companyinfo">  
                  <%= answer.user.company %></span></span></li> 
                <%end%> 
      

                  <li> <span class="userscorelabel" data-toggle="tooltip" title="The total number of upvotes that this user has received on their answers"> User Score: <%= answer.user.karma %></span></li>
                  <li>
                    <% if answer.user.verified == true %> 
                      <span class="verifiedsolicitor" data-toggle="tooltip" title="Lawreo has verified this answer is from a qualified lawyer">
                      <%= "Verified"%></span>
                      <%else%>
                      <span class="pendingverification" data-toggle="tooltip" title="Lawreo is still verifying if the answerer is a qualified lawyer">
                        <%= "Verification pending" %></span>
                  </li>
                    <%end%>
              </ul>
            </div> <!--col-md-10 col-md-offset-2-->
        </div> <!--row -->

      </div>  <!--panel-body -->
    </div> <!-- panel-default -->
  </div> <!-- col-md-10 col-md-offset-1 -->
</div> <!--row -->

<div class="collapse" id=<%="#{answer.id}"%>>

  <% answer.answercomments.each do |answercomments| %>
  <div class="row">
    <div class="col-md-6 col-md-offset-5">
      
      <div class="well well-sm">
          <%= answercomments.body %><br>
          <small><i>posted at <%= answercomments.created_at.to_formatted_s(:long)%> 

            <% if answercomments.user == answercomments.answer.question.user %>
              <%= "the Original Question Poster"%>

            <%elsif answercomments.user != answercomments.answer.question.user && answercomments.user.is_solicitor? == true %>

              <%= "by " + answercomments.user.name %>

            <%elsif answercomments.user != answercomments.answer.question.user && answercomments.user.is_solicitor? == false %>

              <%= "another Lawreo user (non-lawyer)" %>

            <%end%>


          </i></small>
      </div>
      
    </div>  
   </div>    
  <%end%>

  
  <div class="row">
    <div class="col-md-6 col-md-offset-5">

    <% if user_signed_in? %>
      <div class="form-group">
        <%= form_for [answer, Answercomment.new] do |f| %>
          

          <div class="form-group">
            <%= f.label :body, "Post a comment to the answer" %><br>
            <%= f.text_area :body, class: "form-control" %>
          </div>
          
          
          <div class="actions">
            <%= f.submit "Post comment", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>

      <%else%>
      
      
        <div class="col-md-6 col-md-offset-4" id="postcommentbutton">
      <%= link_to "Login to post a comment", new_user_session_path, class: "btn btn-info" %>
        </div>
      
      <%end%>
    </div>
  </div>
</div>
    <%end%> <!-- answer.each loop -->




<div class="row" id="scrolldown">
<% if user_signed_in? && current_user.is_solicitor == true %>
  <div class="col-md-8 col-md-offset-3">
    <div class="form-group">
      <%= form_for [@question, Answer.new] do |f| %>

        <div class="field">
          <h3>Post an answer </h3>
          <%= f.text_area :body, class: "form-control" %>
        </div>
      
    
        <div class="actions">
          <br>
          <%= f.submit class: "btn btn-success" %>
        </div>
      <% end %>
    </div>
  </div>
  <%elsif user_signed_in? && current_user.is_solicitor == false %>

  <%else%>
    <div class="col-md-6 col-md-offset-6">
          <%= link_to "Sign in / Sign up to post an answer", new_user_session_path, class: "btn btn-success" %>
          <p class="emailnote">** Please note that only lawyers are permitted to answer questions</p>
    </div>
  <%end%>


</div>

