<div class="homepanel" align="center">
	<h1><strong>Lawreo</strong></h1>
	<h4>Where your legal questions are answered by qualified lawyers</h4>

	<%= link_to "Browse answers", questions_show_all_path, class: "btn btn-primary btn-lg" %>
	<%= link_to "Ask a question", new_question_path, class: "btn btn-success btn-lg" %>
</div>

<div class="row" id="slider">
	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
	  <!-- Indicators -->
	  <ol class="carousel-indicators">
	    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
	    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
	    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
	  </ol>

	  <!-- Wrapper for slides -->
	  <div class="carousel-inner" role="listbox">
	    <div class="item active">
	      <%= image_tag "image1.jpg" %>
	      <div class="carousel-caption">
	        <h3>Some caption1</h3>
	      </div>
	    </div>
	    <div class="item">
	       <%= image_tag "image2.jpg" %>

	      <div class="carousel-caption">
	        <h3>Some caption2</h3>
	      </div>
	    </div>

		<div class="item">
	       <%= image_tag "image3.jpg" %>

	      <div class="carousel-caption">
	        <h3>Some caption3</h3>
	      </div>
	    </div>

	  </div>

	  <!-- Controls -->
	  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
	    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	    <span class="sr-only">Previous</span>
	  </a>
	  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
	    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	    <span class="sr-only">Next</span>
	  </a>
	</div>
</div>
<br>
<div class="row">
	<div class="col-md-12" align="center">
		<h1><strong>How does Lawreo work?</strong></h1>
		<br>
		<hr>
		<br>
	</div>
	
	<div class="col-md-12" align="center">
		<div class="col-md-4">
			<h3>1. Have a legal question?</h3>
			<h5>Just post it anonymously by <%= link_to "clicking here", new_question_path %></h5>
			
		</div>

		<div class="col-md-4">
			<h3>2. A qualified lawyer will answer</h3>
			<h5>Lawreo only permits qualified lawyers to answer questions</h5>
			
		</div>

		<div class="col-md-4">
			<h3>3. It's free to use</h3>
			<h5> You get an answer for free, which is vetted by the Lawreo community through our rating system. <%= link_to "Take a look around the Lawreo community", questions_show_all_path %> </h5>
		</div>
	</div>

	<div class="col-md-12" id= "icons" align="center">
		<div class="col-md-4">
			<%= icon 'question-circle fa-5x'%>
		</div>

		<div class="col-md-4">
			<%= icon 'check-circle fa-5x'%>
			
		</div>

		<div class="col-md-4">
			<%= icon 'smile-o fa-5x'%>
		</div>
		
	</div>
	
</div>

<hr>

<div class="row">
	<div class="col-md-12" align="center">

		<h1><strong>How can Lawreo help?</strong></h1>

	</div>

	<div class="col-md-12">

		<div class="col-md-6" align="center">
			
			<h2><u>For clients</u></h2>
			<p>Receive answers to your legal queries for free from qualified lawyers</p>
			<p>Discover legal professionals for future assignments</p>
			<p>Be part of a community of legal knowledge to help your business</p>

				
		</div>

		<div class="col-md-6" align="center">
			<h2><u>For lawyers</u></h2>
			<p>Generate new client leads by demonstrating your expertise</p>
			<p>Build up your public profile by showcasing your knowledge</p>
			<p>Contribute to a community that will help your clients</p> 
		</div>
	</div>
	
</div>

<hr>

<div class="row">
	<div class="col-md-12" align="center">

		<h1><strong>Some recent questions posted!</strong></h1>

	</div>
</div>

<div class="row">
	<div id="carousel-questions" class="carousel slide" data-ride="carousel">

	  <!-- Wrapper for slides -->
	  <div class="carousel-inner" role="listbox">
	    <div class="item active">
	      <div class="well" id="homewell" align="center">
	      	<h3><%=@lastq.title %></h3>
	      	<%= link_to "View", @lastq, class: "btn btn-danger" %>

	      </div>
	      
	    </div>

	    <% @questions.each do |question| %>
	    <div class="item">
	       <div class="well" id="homewell" align="center">
	       	<h3><%= question.title %></h3>
	       	<%= link_to "View", question, class: "btn btn-danger" %>
	       </div>
	    </div>

		<%end%>

	  </div>

	  <!-- Controls -->
	  <a class="left carousel-control" href="#carousel-questions" role="button" data-slide="prev">
	    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	    <span class="sr-only">Previous</span>
	  </a>
	  <a class="right carousel-control" href="#carousel-questions" role="button" data-slide="next">
	    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	    <span class="sr-only">Next</span>
	  </a>
	</div>
	 </div>
</div>