<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2 align="center">Edit my details</h2>
    <hr>
  </div>
</div>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <% if current_user.is_solicitor == true %>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="form-group">
        
        <div class="form-group">
        <%= f.label :image, "Profile image" %>
        <%= f.file_field :image%>
        </div>

        <div class="form-group">
          <%= f.label :name, "Name" %><br />
          <%= f.text_field :name,  class: "form-control"%>
        </div>

        <div class="form-group">
          <%= f.label :email, "Email" %><br />
          <%= f.email_field :email, autofocus: false, class: "form-control"%>
        </div>

        <div class="form-group">
          <%= f.label :company, "Firm / company / organisation" %><br />
          <%= f.text_field :company,  class: "form-control"%>
        </div>

        <div class="form-group">
          <%= f.label :SRA_number, "SRA or Bar Council number" %><br />
          <%= f.text_field :SRA_number,  class: "form-control"%>
        </div>
<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
        <div class="form-group">
      <%= f.label :current_password %> <i>(for security reasons, we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
        </div>

        <div class="actions">
      <%= f.submit "Update", class: "btn btn-primary" %>
        </div>

  

    <h3>Change password</h3>
  
    <div class="field">
      <%= f.label :password, "New password" %><br />
      <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>

    </div>

     <div class="actions">
      <br>
      <%= f.submit "Update", class: "btn btn-primary" %>
      </div>

    <hr>

      
  </div>
  </div>
</div>
  

  <%else%>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
        <%= f.label :image, "Profile image" %>
        <%= f.file_field :image%>
        </div>

        <div class="form-group">
          <%= f.label :name, "Name" %><br />
          <%= f.text_field :name,  class: "form-control"%>
        </div>

        <div class="form-group">
          <%= f.label :email, "Email" %><br />
          <%= f.email_field :email, autofocus: false, class: "form-control"%>
        </div>

        <div class="form-group">
          <%= f.label :company, "Firm / company / organisation" %><br />
          <%= f.text_field :company,  class: "form-control"%>
        </div>

        <div class="form-group">
          <%= f.label :industry, "Industry" %><br />
          <%= f.text_field :industry,  class: "form-control"%>
        </div>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>
        <div class="form-group">
      <%= f.label :current_password %> <i>(for security reasons, we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
        </div>

        <div class="actions">
      <%= f.submit "Update", class: "btn btn-primary" %>
        </div>

  

    <h3>Change password</h3>
  
    <div class="field">


      <%= f.label :password, "New password" %><br />
      <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>

    </div>

     <div class="actions">
      <br>
      <%= f.submit "Update", class: "btn btn-primary" %>
      </div>

    <hr>

    
    <% end %>
    <%end%>

  </div>
</div>




