<div class="row" align="center">
  <div class="col-md-6 col-md-offset-3">
  <h2>Sign up to Lawreo</h2>
<hr>
  </div>
</div>

<div class="row" align="center">
  <div class="col-md-6 col-md-offset-3">

    <h3 align="center">Please select:</h3>
    <br>
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#lawyersignup">
    I'm a lawyer
    </button>

    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#nonlawyersignup">
    I'm a non-lawyer
    </button>
  </div>
</div>


<div id="lawyersignup" class="collapse out">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class="col-md-6 col-md-offset-3">
    <h3 align="center">I'm a lawyer</h3>
    <hr>
    <div class="form-group">
      <div class="form-group">
        <%= f.label :name, "1. What's your name?" %><br />
        <%= f.text_field :name,  class: "form-control"%>
      </div>

      <div class="form-group">
        <%= f.label :email, "2. What's your email address?" %><br />
        <%= f.email_field :email, autofocus: true, class: "form-control"%>
      </div>

      <div class="form-group">
        <%= f.label :company, "3. What firm / company / organisation do you work for?" %><br />
        <%= f.text_field :company,  class: "form-control"%>
      </div>

      <div class="form-group">
        <%= f.label :SRA_number, "4. What is your SRA or Bar Council number? (Not compulsory but helps us to speed up the verification process)" %><br />
        <%= f.text_field :SRA_number,  class: "form-control"%>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <% if @validatable %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control"%>
      </div>

      <div class="form-group" id="is_solicitor">
        <%= f.select :is_solicitor, ['true'] %> 
      </div>


      <div class="actions">
        <%= f.submit "Sign up", class: "btn btn-success" %>
      </div>
    <% end %>

  <%= render "devise/shared/links" %>
    </div>
  </div>
</div>


<div id="nonlawyersignup" class="collapse out">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class="col-md-6 col-md-offset-3">
  <h3>I'm not a lawyer</h3>
  <hr>
    <div class="form-group">
      <div class="form-group">
        <%= f.label :name, "1. What's your name?" %><br />
        <%= f.text_field :name,  class: "form-control"%>
      </div>

      <div class="form-group">
        <%= f.label :email, "2. What's your email address?" %><br />
        <%= f.email_field :email, autofocus: true, class: "form-control"%>
      </div>

      <div class="form-group">
        <%= f.label :company, "3. What company / organisation do you work for?" %><br />
        <%= f.text_field :company,  class: "form-control"%>
      </div>

      <div class="form-group">
        <%= f.label :industry, "4. What industry does your company operate in?" %><br />
        <%= f.text_field :industry, :placeholder => "e.g. tech, healthcare etc", class: "form-control"%>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <% if @validatable %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control"%>
      </div>


      <div class="actions">
        <%= f.submit "Sign up", class: "btn btn-success" %>
      </div>
    <% end %>

  <%= render "devise/shared/links" %>
    </div>
  </div>
</div>


 