<div class="row" align="center">
  <div class="col-md-6 col-md-offset-3">
  <h2>Sign up to Lawreo</h2>
<hr>
  </div>
</div>

<div class="row" align="center">
  <div class="col-md-6 col-md-offset-3">

    <h3 align="center">Please select:</h3>
    <br>
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#lawyersignup">
    I'm a lawyer
    </button>

    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#nonlawyersignup">
    I'm a non-lawyer
    </button>
  
  <%= devise_error_messages! %>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="lawyersignup" data-backdrop="false">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4>I'm a lawyer</h4>
            </div>
            <div class="modal-body">
                  <div class="form-group">
                    <div class="form-group">
                      <%= f.text_field :name, :placeholder => "Your name",  class: "form-control"%>
                    </div>

                    <div class="form-group">
                      <%= f.email_field :email, :placeholder => "Your professional email address", class: "form-control"%>
                    </div>

                    <div class="form-group">
                      <%= f.text_field :company, :placeholder => "What firm / company / organisation do you work for?",  class: "form-control"%>
                    </div>

                    <div class="form-group">
                      <%= f.text_field :SRA_number, :placeholder => "Your SRA or Bar Council number? (Not compulsory but helps with verification)",  class: "form-control"%>
                    </div>

                    <div class="form-group">
                      <%= f.password_field :password, :placeholder => "Password (8 characters minimum)", autocomplete: "off", class: "form-control" %>
                    </div>

                    <div class="form-group">
                      <%= f.password_field :password_confirmation, :placeholder => "Re-type password", autocomplete: "off", class: "form-control"%>
                    </div>

                    <div class="form-group" id="is_solicitor">
                      <%= f.select :is_solicitor, ['true'] %> 
                    </div>

                    <div class="actions">
                      <%= f.submit "Sign up", class: "btn btn-success" %>
                      <button type="button" class="btn btn-default" data-dismiss="modal">Back</button>
                    </div>
                    <% end %>
              </div>  <!--Form group div -->
            </div> <!-- modal-body -->
        </div> <!-- modal-content -->
    </div> <!-- modal-dialog -->
</div> <!-- modal fade -->

<div class="modal fade" id="nonlawyersignup" data-backdrop="false">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4>I'm not a lawyer</h4>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <div class="form-group">
                  <%= f.text_field :name, :placeholder => "Your name",  class: "form-control"%>
                </div>

                <div class="form-group">
                  <%= f.email_field :email, :placeholder => "Your email address", class: "form-control"%>
                </div>

                <div class="form-group">
                  <%= f.text_field :company, :placeholder => "What company / organisation do you work for?", class: "form-control"%>
                </div>

                <div class="form-group">
                  <%= f.text_field :industry, :placeholder => "What industry does your company operate in? E.g. tech, healthcare etc", class: "form-control"%>
                </div>

                <div class="form-group">
                  <%= f.password_field :password, :placeholder => "Password (8 characters minimum)", autocomplete: "off", class: "form-control" %>
                </div>

                <div class="form-group">
                  <%= f.password_field :password_confirmation, :placeholder => "Re-type password", autocomplete: "off", class: "form-control"%>
                </div>


                <div class="actions">
                  <%= f.submit "Sign up", class: "btn btn-success" %>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Back</button>
                </div>
                <% end %>
              </div>
          </div>
      </div>
    </div>
</div>


 