<p id="notice"><%= notice %></p>

<h1>Listing Questioncomments</h1>

<table>
  <thead>
    <tr>
      <th>Body</th>
      <th>Question</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questioncomments.each do |questioncomment| %>
      <tr>
        <td><%= questioncomment.body %></td>
        <td><%= questioncomment.question_id %></td>
        <td><%= questioncomment.user_id %></td>
        <td><%= link_to 'Show', questioncomment %></td>
        <td><%= link_to 'Edit', edit_questioncomment_path(questioncomment) %></td>
        <td><%= link_to 'Destroy', questioncomment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Questioncomment', new_questioncomment_path %>
