<p id="notice"><%= notice %></p>

<h1>Listing Answercomments</h1>

<table>
  <thead>
    <tr>
      <th>Body</th>
      <th>Answer</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @answercomments.each do |answercomment| %>
      <tr>
        <td><%= answercomment.body %></td>
        <td><%= answercomment.answer_id %></td>
        <td><%= answercomment.user_id %></td>
        <td><%= link_to 'Show', answercomment %></td>
        <td><%= link_to 'Edit', edit_answercomment_path(answercomment) %></td>
        <td><%= link_to 'Destroy', answercomment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Answercomment', new_answercomment_path %>
