<!DOCTYPE html>
<html>
<head>
  <title>Lawreo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
   <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div id="wrapper">
	<header>
	<%= render 'layouts/header' %>
	<%= render 'layouts/subnav' unless @disable_nav %>
      

		<div id="alertmsg">
		      <% flash.each do |name, msg| %>
					<%= content_tag(:div, msg, class: "alert alert-dismissable alert-info") %>
				<% end %>
		</div>
	</header>
	
    <div class="container">    
		<%= yield %>
	</div>
</div>
<br>
<br>
<div id="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-6" id="footer-col">

					<br>
					<p> <%= link_to "About", static_pages_about_path %> | <%= link_to "FAQ", static_pages_faq_path  %> | <%= link_to "Privacy Policy", static_pages_privacy_path  %> | <%= link_to "Terms", static_pages_terms_path %> | </p>
					
					
				</div>

				<div class="col-md-6">
					<div id="footer-text">
						<br>
						<p><small>Lawreo © 2015. All Rights Reserved.</a></small></p>
						<p><small>Contact: hello@lawreo.com</small></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

</body>
</html>
